<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucess</title>

    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/header.css">
    <link rel="stylesheet" href="styles/partials/forms.css">
    <link rel="stylesheet" href="styles/partials/page-give-classes.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="pageSucess">
    <div id="container">
        <div class ="logo-container">
            <img src="/images/icons/success-check-icon.svg" alt="sucess">
        <h1>Cadastro Salvo!</h1>
        </div>
        <div class="buttons-container">
            <a class="homepage" href="index.html">
            Voltar para pagina inicial</a>
        </div>
        <div id="container">
            <img src="/public/images/success-background.svg" alt="">
            
            </div>
                    
             
               <img src="/images/logo.svg" alt="Proffy">
                          
                                 
                
                <!--main-->
            </header>
            <main>
                  
                
              
        

                
                
            
            </main>
    
    </div>
  <script src="scripts/addField.js"></script>  
</body>
</html>